.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 30vh;
    border-radius: 4px;
    font-size: 26px !important;
  }
  .radio-group {
    display: flex;
    gap: 20px;
  }
  
  .radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .submitbutton{
    background-color: #ff0055;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px;
  }
  .mintbutton{
    background-color: #ff7b00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
  }
  @media (max-width: 600px) {
    .form-container {
      padding: 10px;
    }
    
    .radio-group {
      flex-direction: column;
      gap: 10px;
    }
  }